
body {
	font-family: Georgia, serif;
	font-size: 14px;
	background-color: #ddd;
	padding: 0 0;
	margin: 0 0;
}

h1, h2, h3 {
	font-family: Helvetica, Verdana, sans-serif;
}

/*** ID's ***/

#wrapper_banner {
	background: #4c4c4c; /* Old browsers */
	background: -moz-linear-gradient(top, #4c4c4c 0%, #595959 19%, #2b2b2b 76%, #000000 100%, #131313 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4c4c4c), color-stop(19%,#595959), color-stop(76%,#2b2b2b), color-stop(100%,#000000), color-stop(100%,#131313)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #4c4c4c 0%,#595959 19%,#2b2b2b 76%,#000000 100%,#131313 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #4c4c4c 0%,#595959 19%,#2b2b2b 76%,#000000 100%,#131313 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #4c4c4c 0%,#595959 19%,#2b2b2b 76%,#000000 100%,#131313 100%); /* IE10+ */
	background: linear-gradient(top, #4c4c4c 0%,#595959 19%,#2b2b2b 76%,#000000 100%,#131313 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#131313',GradientType=0 ); /* IE6-9 */
	box-shadow: 0 4px 10px #555;
	position: fixed;
	left: 0px;
	top: 0px;
	margin: 0 0;
	font-family: Helvetica, Verdana, sans-serif;
	color: #eee;
	width: 100%;
	height: 80px;
}

#banner {
	width: 900px;
	margin: 0 auto;
	height: 80px;
}

#logo {
	width: 250px;
	height: 58px;
	background-image:url('logo_dark.png');
	background-repeat: no-repeat;
	margin: 15px auto auto 10px;
	float: left;
}

#banner ul {
	margin: 3px 0px 0px 150px;
	/*margin-left: 10px;*/
    width: 750px;
	list-style-type: none;
}

#banner ul li {
	margin: 10px 10px 0 10px;
	float: left;
}
#banner ul li a {
	text-decoration:none;
	font-size: 16px;
}
#banner ul li a:visited, #banner ul li a:link {
	color: #999;
}

#banner ul li a:active, #banner ul li a:hover {
	color: #eee;
}

#wrapper_main {
    text-align:justify;
	width: 900px;
	margin: 20px auto;
	background-color: #fff;
	padding: 20px 50px;
    -webkit-box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.5);
}

#heading {
	margin: 3px auto;
    text-align:center;
}

#content h1 {
	font-size: 36px;
}

#content a:link, #content a:visited {
	color: #000;
}

#content a:active, #content a:hover {
	color: #666;
}

#footer {
	text-align:center;
}

.code {
	font-family:monospace;
}


